Repository unclefomotw/caption-editor: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-format, typescript-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Caption Editor monorepo
# 2025 best practices for JavaScript/TypeScript + Python
repos:
  # Common hooks for all file types
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Security: Prevent secrets from being committed
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Next.js/TypeScript formatting for frontend
  - repo: local
    hooks:
      - id: nextjs-format
        name: Next.js Format
        entry: bash -c 'npm run format -w packages/web-ui/'
        language: system
        files: ^packages/web-ui/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

  # TODO: Ignore eslint for now; find alternatives for eslint 9 perhaps
  # - repo: https://github.com/pre-commit/mirrors-eslint
  #  rev: v9.33.0
  #   hooks:
  #     - id: eslint
  #       files: ^packages/web-ui/.*\.(js|jsx|ts|tsx)$
  #       types: [file]
  #       additional_dependencies:
  #         - eslint@9.33.0
  #         - eslint-config-next@15.4.6
  #         - eslint-config-prettier@10.1.8
  #         - "@eslint/eslintrc@3.3.1"
  #         - typescript@5.9.2

  # Python linting and formatting with Ruff (ultra-fast, replaces Black + Flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      # Linting
      - id: ruff-check
        files: ^packages/api-server/
        args: [--fix]
      # Formatting
      - id: ruff-format
        files: ^packages/api-server/

  # TypeScript type checking for frontend
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd packages/web-ui && npx tsc --noEmit'
        language: system
        files: ^packages/web-ui/.*\.(ts|tsx)$
        pass_filenames: false

# Global configuration
fail_fast: false
default_stages: [pre-commit]

Fix VTT import bug that only the last segment is shown
  packages/web-ui/src/utils/caption-parsers.ts
Due: nextjs-format, typescript-check

bump to v0.2.0
  package-lock.json
  packages/api-server/pyproject.toml
  packages/api-server/src/caption_editor_api/__init__.py
  packages/common-types/package.json
  packages/web-ui/package.json
Due: nextjs-format

update author
  packages/api-server/pyproject.toml
  packages/web-ui/package.json
Due: nextjs-format

study how to refactor common-types
  docs/COMMON-TYPES-TODO.md
  docs/GEMINI-TODO.md
Due: none

Tidy up CLAUDE.md, which is the global context
  CLAUDE.md
  docs/ai-transcription-integration.md
  docs/assembly-ai-guide.md
  docs/bidirectional-sync-ux.md
  docs/localstorage-guide.md
  docs/status.md
Due: none
